<h1>
  
  <span class="text-success" ng-show="bot.status">Device: {{bot.device}} (online)</span>
  <span class="text-danger" ng-show="!bot.status">Device: {{bot.device}} (offline)</span>
</h1>
<!-- <p class="text-success" ng-show="bot.status">ONLINE</p>
<p class="text-danger" ng-show="!bot.status">OFFLINE</p> -->
<uib-tabset active="active">
  <uib-tab index="0" heading="SMS">
    <form name="smsForm">
      <div class="form-group" ng-class="">
        <label>Number of SMS</label>
        <input class="form-control" type="number" name="number" ng-model="numbersms" required>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-click="addCommand('getsms', numbersms)">Get SMS</button>
      </div>
    </form>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        SMS History <a class="btn btn-danger btn-sm" ng-click="clearSMS()">Clear History</a>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <div class="list-group-item" ng-repeat="msg in messages | orderBy: 'date'" ng-class="msg.type*1 === 2? 'text-info' : ''">
            {{msg.type*1 === 1 ? '(Received)' : '(Sent)' }} {{msg.name}} {{msg.phone}} <br>
            <b>{{msg.message}}</b>
            <br>
            {{ msg.date | date: 'hh:mm a EEE MMM dd yyyy'}}
            <!-- {{msg.date}} -->
          </div>
          <p ng-show="messages.length === 0">No History Yet</p>
        </div>
      </div>
    </div>
  </uib-tab>
  <uib-tab index="1" heading="Call Logs">
    <form name="smsForm">
      <div class="form-group" ng-class="">
        <label>Number of logs to get</label>
        <input class="form-control" type="number" name="number" ng-model="num_call_logs" required>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-click="addCommand('getcallhistory', num_call_logs)">Get Call History</button>
      </div>
    </form>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        Call Logs
        <a class="btn btn-danger btn-sm" ng-click="clearCallLogs()">Clear History</a>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <div class="list-group-item" ng-repeat="log in callLogs | orderBy: 'date'" ng-class="getLogClass(log)">
            <span ng-if="log.type*1===1">(Incoming)</span>
            <span ng-if="log.type*1===2">(Outgoing)</span>
            <span ng-if="log.type*1===3">(Missed)</span>
            {{log.name}} {{log.phone}}
            </br>
            {{log.date | date: 'hh:mm a EEE MMM dd yyyy'}}</br>
            <!-- {{log.date}}</br> -->
            duration {{log.duration*1000|duration:'hh:mm:ss'}}</br>
          </div>
          <p ng-show="callLogs.length === 0">No History Yet</p>
        </div>
      </div>
    </div>
  </uib-tab>
  <uib-tab index="2" heading="Pending Commands">
    <div class="list-group">
      <div class="list-group-item" ng-repeat="cmd in pendingCommands">
        {{cmd.command}}
        <a class="btn btn-danger btn-sm" ng-click="deleteCommand(cmd.id)">&times;</a>
      </div>
      <p ng-show="pendingCommands.length === 0">No pending commands</p>
    </div>
  </uib-tab>
</uib-tabset>
<hr>
